html, body{
    background-image: url(tapestry.JPG);
    /*border: 80px dashed rgb(255, 77, 0);*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-style: normal;
    color:bisque;
}


canvas{
    display:block;
    position:absolute;
    top:20vh;
    left: 14vw;
    z-index:1;

}

.Wave{
    position:relative;
    z-index: 2;
    top: 50vh;
    left:70vw;


}


.Fox{
    position:relative;
    z-index: 3;
    top: 58.5vh;
    left:40vw;

}


